<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 shadow text-center">
                <div class="card-header bg-white">Group 1</div>                
                <div class="card-body">
                    <h5 class="card-title">
                       Javascript Group Assignment-1
                    </h5>
                    <p>
                        Hiren <br>
                        Dhananjay <br>
                        Hiral <br>
                        Vashishth
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil adipisci minus sed, nostrum illum ipsa velit dolorum. Quam dolorem mollitia molestiae corporis, blanditiis perspiciatis? Laboriosam vero dicta deserunt nam reiciendis.</p>
                    <a href="/myAssignments" class="btn btn-primary">More Details -></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 shadow text-center">
                <div class="card-header bg-white">Group 3</div>                
                <div class="card-body">
                    <h5 class="card-title">
                       Responsive Site Design Group Project
                    </h5>
                    <p>
                        Thomas <br>
                        Dhiren <br>
                        Smit <br>
                        Vashishth
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil adipisci minus sed, nostrum illum ipsa velit dolorum. Quam dolorem mollitia molestiae corporis, blanditiis perspiciatis? Laboriosam vero dicta deserunt nam reiciendis.</p>
                    <a href="/myAssignments" class="btn btn-primary">More Details -></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 shadow text-center">
                <div class="card-header bg-white">Group 5</div>                
                <div class="card-body">
                    <h5 class="card-title">
                       Application Development Group Project
                    </h5>
                    <p>
                        Drishya <br>
                        Hiren <br>
                        Hiral <br>
                        Vashishth
                    </p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil adipisci minus sed, nostrum illum ipsa velit dolorum. Quam dolorem mollitia molestiae corporis, blanditiis perspiciatis? Laboriosam vero dicta deserunt nam reiciendis.</p>
                    <a href="/myAssignments" class="btn btn-primary">More Details -></a>
                </div>
            </div>
        </div>
    </div>
</div>