<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-0 shadow text-center">
                <div class="card-header bg-white">My Assignments</div>                
                <div class="card-body">
                    <h5 class="card-title">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore, voluptas tenetur nostrum mollitia eligendi optio ad nam inventore maiores, non, eveniet at rerum numquam tempora atque beatae necessitatibus voluptatibus.
                    </h5>
                    <a href="/myAssignments" class="btn btn-primary">Go to my assignments -></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-0 shadow text-center">
                <div class="card-header bg-white">My Groups</div>                
                <div class="card-body">
                    <h5 class="card-title">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore, voluptas tenetur nostrum mollitia eligendi optio ad nam inventore maiores, non, eveniet at rerum numquam tempora atque beatae necessitatibus voluptatibus.
                    </h5>
                    <a href="/myGroups" class="btn btn-primary">Go to my Groups -></a>
                </div>
            </div>
        </div>
    </div>
</div>